<main>
    <nav class="navbar bg-body-tertiary">
        <div class="container-fluid">
          <div class=".col-md-3 .ms-md-auto">
            <a href="ordenes.html" class="btn btn-success">Crear</a>           
            <a href="ordenes.html" class="btn btn-warning">Ver</a>                       
          </div>
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
    </nav>
    <h1>Inventarios</h1>    
  <table class="table">
    <thead>
      <tr>
        <th scope="col">id_Producto</th>
        <th scope="col">Categoria</th>
        <th scope="col">Cantidad</th>
        <th scope="col">Fecha de actualización</th>
        <th scope="col">Descripción</th>
        <th scope="col">Estado</th>
        <th scope="col">Acción</th>
        
      </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Bar</td>                      
            <td>5</td>
            <td>02/03/2025 - 12:07</td>
            <td>Sin cebolla</td>
            <td>Disponible</td>            
            <td>
                <a href="pedidos.html" class="btn btn-primary">Actualizar</a>           
                <a href="pedidos.html" class="btn btn-danger">Eliminar</a>      
            </td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Cocina</td>               
            <td>7</td>
            <td>02/03/2025 - 12:07</td>
            <td>Sin cebolla</td>
            <td>Disponible</td>
            <td>
                <a href="pedidos.html" class="btn btn-primary">Actualizar</a>           
                <a href="pedidos.html" class="btn btn-danger">Eliminar</a>      
            </td>
    </tbody>
  </table>
</main>