<main>
  <nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
      <div class=".col-md-3 .ms-md-auto">
        <a href="ordenes.html" class="btn btn-success">Crear</a>           
        <a href="ordenes.html" class="btn btn-warning">Ver</a>                       
      </div>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </nav>
  <h1 class="h1-titulos">Pedidos</h1>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">id_orden</th>
        <th scope="col">n mesa</th>
        <th scope="col">Fecha</th>
        <th scope="col">Estado</th>
        <th scope="col">Descripción</th>
        <th scope="col">Precio</th>
        <th scope="col">Acción</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>1</td>
        <td>02/03/2025 - 12:07</td>
        <td>En preparación</td>
        <td>Sin cebolla</td>
        <td>$ 15.000</td>
        <td>
          <a href="ordenes.html" class="btn btn-primary">Actualizar</a>           
          <a href="ordenes.html" class="btn btn-danger">Eliminar</a>      
        </td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>7</td>
        <td>02/03/2025 - 12:07</td>
        <td>En preparación</td>
        <td>Sin cebolla</td>
        <td>$ 15.000</td>
        <td>
          <a href="ordenes.html" class="btn btn-primary">Actualizar</a>           
          <a href="ordenes.html" class="btn btn-danger">Eliminar</a>      
        </td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>8</td>
        <td>02/03/2025 - 12:07</td>
        <td>En preparación</td>
        <td>Sin cebolla</td>
        <td>$ 15.000</td>
        <td>
          <a href="ordenes.html" class="btn btn-primary">Actualizar</a>           
          <a href="ordenes.html" class="btn btn-danger">Eliminar</a>      
        </td>
      </tr>
    </tbody>
  </table>
</main>
    