<nav>
    <div class="row">
        <div class="col-8">
            <ul> 
                <li>
                    <a href="home.html">
                        <button type="button"></button>
                        <img src="../img/logo.jpg" alt="" height="50px">
                    </a>
                </li>                   
                <li><a href="ordenes.html">Ordenes</a></li>
                <li><a href="crearOrden.html">Crear Ordenes</a></li>
                <li><a href="inventarios.html">Inventarios</a></li>
                <li><a href="crearInventario.html">Crear Inventario</a></li>
                <li><a href="menu.html">Menu</a></li>                
            </ul>
        </div>
        <div class="nav justify-content-end col-4">
            <a href="login.html" class="btn btn-warning">Iniciar sesión</a>
        </div>
    </div>      
</nav>